@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

$font-stack: "Outfit", sans-serif;
$bg-color: hsl(212, 45%, 89%);
$dark-blue: hsl(218, 44%, 22%);
$white: hsl(0, 0%, 100%);
$light-grey: hsl(220, 15%, 55%);
